<div class="container">
    <br>
    <h3 class="text-center">Subida de archivo al servidor</h3>
    <hr>
    <br>
    <div class="container col-md-6">
        <label for="">
            <i class="fas fa-file"></i>
            Seleccione Archivo</label><br>
        <input type="file" name="" id="" class="form-control" (change)="Subir()">
        <br>
        <button class="btn btn-outline-success btn-block col-md-4 m-md-auto"> Subir Archivo <i class="fas fa-upload"></i></button>

    </div>
</div>